<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @device.price %>
</p>

<% if @device.image? %>
　　<%= image_tag @device.image.low_thumb.url %>
　<% else %>
　　<%= image_tag 'noimage.gif' %>
<% end %>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
