
  <div class="field">
    郵便番号: <%= @request.zip %>
  </div>
  <div class="field">
    住所: <%= @request.address %>
  </div>
  <div class="field">
    氏名: <%= @request.name %>
  </div>
  <div class="field">
    しめい: <%= @request.nameKana %>
  </div>
  <div class="field">
    電話番号: <%= @request.tell %>
  </div>
  <div class="field">
    メールアドレス: <%= @request.mailAddress %>
  </div>

  <div class="actions">
    <%= link_to image_tag('https://brandear.jp/images/pc/request/toppage.gif'), :root %>
  </div>
  <div class="actions">
    <%= link_to image_tag('https://brandear.jp/images/pc/request/mypage.gif'), :root %>
  </div>
